.baner-img{
    border: 1px solid white;
    height: 500px;
    align-items: center; 
}
.Text-big{
    margin-top: 7%;
    width: 400px;
    margin-left: 4%;
    gap: 5px;
    height: 300px;
}
.Text-chu{
    font-size: 60px ;
}
.text-p{
    color: #EE142D;
}
.text-input{
    margin-top: 70px;
    width: 450px ;
    height: 64px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    justify-content: space-between;
    border-radius: 39%;
    border: 1px solid white;
}
.text-input input{
    border: 1px solid white;
    border-radius: 40%;
    text-align: center;
    width: 450px ;
    border: none;           /* cút cm m đi viền c hó  */
    outline: none;         /* Ẩn đi */
}

.text-input button{
    width: 175px ;
    height:  54px;
    border-radius: 40%;
    border: 1px solid white;
    background-color: #3BB77E;
    cursor: pointer;
    margin-left: 13px;
}
