.baner-img{
    border: 1px solid white;
    height: 500px;
    align-items: center; 
}
.Text-big{
    margin-top: 7%;
    width: 400px;
    margin-left: 4%;
    gap: 5px;
    height: 300px;
}
.Text-chu{
    font-size: 60px ;
}
.text-p{
    color: #EE142D;
}
.text-input{
    margin-top: 70px;
    width: 450px ;
    height: 64px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    justify-content: space-between;
    border-radius: 40px;

}
.text-input input{
    border: none;
    border-radius: 40px;
    text-align: center;
    width: 200px ;
    border: none;           
    outline: none;       /* Ẩn đi */
}

.text-input button{
    width: 175px ;
    height: 60px;
    border-radius: 40px;
    border: none;
    background-color: #3BB77E;
    cursor: pointer;
    margin-left: 13px;
    margin-top: 2px;
}
.icon{
    margin-left: 20px;
    margin-top: 23px;
    color: #838383;
}
