.a1{
background-color: #28a745; /* Xanh lá đậm */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}
.product-info select{
    cursor: pointer;
}
.a2{
padding: 8px 16px;
  font-weight: bold;
  color: black;
  background: transparent;
  border: 2px solid #4CAF50;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}
.a2:hover{
    background: #28a745;
  color: white;

}
.h6{
    color: blue;
    cursor: pointer;
}
.a3 button{
    justify-content: space-between;
    border: 1px solid black;
    margin-right: 10px;
    margin-left: 10px;
    width: 25px;
    cursor: pointer;
}
.danhgia{
 background-color: #4CAF50; /* xanh lá đậm */
  color: #fff;
  padding: 6px 6px;
  border: none;
  border-radius: 12px; /* góc bo tròn */
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.danhgia :hover{
      background-color: #43a047; /* xanh đậm hơn khi hover */
}