/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}
/* HEADER */
.header-container {
  background-color: #4caf83;
  color: white;
  align-items: center;
  justify-content: space-between; /* chia đều không gian */
}
.header-top {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  height: auto;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  
}

.logo {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  margin-left: 12px;
  cursor: pointer;
}
.logo img{
  height: 100px;
  width: 100px;
}
.search-box {
  display: flex;
  flex: 1;
  max-width: 700px;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
}

.search-box input {
  flex: 1;
  border: none;
  padding: 8px;
  outline: none;
}

.search-box button {
  background-color: #fff;
  border: none;
  padding: 0 10px;
  cursor: pointer;
  color: #4caf83;
}

.header-actions button {
  background-color: #4caf83;
  border: 1px solid white;
  color: white;
  padding: 6px 10px;
  margin-left: 5px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  text-decoration: none;
}
.header-actions{
  display: flex;
}

.header-dm {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #3b9f6a;
  padding: 10px 20px;
  justify-content: space-between;
  color: white;
  text-decoration: none;

}
.header-dm a{
  color: white;
  text-decoration: none;
}

.header-bottom a,
.header-dm button {
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.box-moi{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  padding: 12px;
  gap: 5px ;
}
.header-actions Link{
  text-decoration: none;
}
.utilities{
  display: flex;
  justify-content: space-between;
  width: 600px;
  color: white;
}
.utilities a{
  color: white;
  text-decoration: none;
}
.divider {
  margin-left: 15px;
  color: white; /* hoặc màu phù hợp */
  opacity: 0.6;  /* giảm độ nổi bật nếu muốn nhẹ nhàng */
}
